Package: com.umbra.manager
Name: Umbra Manager
Version: 2.0
Architecture: iphoneos-arm64e
Depends: firmware (>= 15.0)
Description: Manage jailbreak concealment in RootHide environments
Maintainer: Umbra
Author: Umbra
Section: System
Icon: 
Conflicts: com.roothide.manager
Replaces: com.roothide.manager
